* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: auto;
    max-width: 1020px;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100%;
}

.dashboard-container {
    display: grid;
    grid-template-columns: 300px auto;
    height: 785px;

}

li {
    list-style: none;
    padding: 25px;
    font-weight: bold;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
}



.repayment-history-container h1 {
    padding: 5% 18%;
    font-size: 25px;
    
}

.repayment-history-container {
    padding-left: 50px;
}



header {
    display: grid;
    grid-template-columns: 150px auto 150px;
    border: 1px solid black;
}

header div{
    border: 1px solid black;

}











