* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: auto;
    max-width: 1720px;
    background-image: url("./images/image1b.jpg");
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100%;
}

img {
    width: 100px;
    margin-left: 70px;
}

.dashboard-container {
    display: grid;
    grid-template-columns: 300px auto;
    height: 785px;
}

.side-menu {
    background: linear-gradient(to right, rgb(71, 165, 32), rgb(114, 226, 67));
    height: 100vh;
}

.side-menu a {
    color: #ffffff
}

.side-menu li {
    font-weight: 400;
    border-bottom: 1px solid rgba(76, 175, 79, 0.623);
    transition: all.5s ease-in-out
}

.side-menu li:hover {
    font-weight: 600;
    background: #abec8f;
    color: #3b7923;
}

.side-menu img {
    padding-left: 25px;
    padding-bottom: 15px;
}

li {
    list-style: none;
    padding: 25px;
    font-weight: bold;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
}



.repayment-history-container h1 {
    padding: 3rem 1rem;
    font-size: 25px;
    text-align: center;
    font-weight: 700;

}

.repayment-history-container {
    padding: 0 2rem;
    background: white;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
    font-weight: 600;
  }

  tr:nth-child(even) {
    /* background-color: rgb(0, 255, 149); */
    background-color: #f7f7f7;
  }


  table td h5, h5 {
      font-size: 16px;
      color: #222222;
      margin: 0;
      font-weight: 600;
  }

  table td p, p {
    font-size: 14px;
    color: #7a7a7a;
    margin: 0;
    font-weight: 400;
}

.w-25 {
    width: 12%;
}

.card-header {
text-align: center
}

.p-0 {
    padding: 0
}

.mobile-menu {
    display: none;
}

.loan-card {
    display: none;
}

@media only screen and (min-width: 1000px) {
    /* For desktop: 1000 upwards*/
    .sidebar, .openbtn {
        display:none;
    } 
    
}

@media (max-width: 1024px){


    button.accept {
        margin-bottom: 10px;
    }

    .dashboard-container {
        grid-template-columns: 100%;
        overflow: hidden;
        height: auto;
        padding-bottom: 5rem;
    }

    .side-menu {
        height: auto;
        display: none;
    }

    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #4CAF50;
        color: white;
        padding: 10px 15px;
        border: none;
        position: absolute;
        top: 6.5%;
        right: 0;
        transform: translate(-50%, -50%);
        margin-left: 13px;
        border-radius: 0;
        transition: all.3s ease-in-out;
      }

      .openbtn:hover {
        background-color: #444;
      }

    .side-menu {
        height: auto;
        display: none;
    }

    .admin-sidebar a p {
        color:#fff;
    }

    .sidebar {
        height: 99.97%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        background: linear-gradient(to right, rgb(71, 165, 32), rgb(114, 226, 67));
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 100px;
      }
      
      .sidebar a p{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 16px;
        text-transform: uppercase;
        color: #f1f1f1;
        display: block;
        transition: 0.3s;
        margin-top: 5px;
        margin-left:50px; 
      }
      
      .sidebar a p{
        border-bottom: 1px solid rgba(76, 175, 79, 0.623);
      }

      .sidebar p:hover {
        color: #f1f1f1;
        font-size: 18px;
      }
      
      .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: #f1f1f1;
      }


    .mobile-menu li {
        font-weight: 500;
        font-size: 17px;
        transition: all.5s ease-in-out;
        margin: 0;
        padding: 1.5rem;
        color: #ffffff;
        border-bottom: 1.5px solid #abec8f;
    }

    .main-menu .active li, .main-menu .active li:hover {
        font-weight: 600;
        background: #58bd2e;
    }

    .main-menu {
        border-top: 1px solid #abec8f;
        margin-top: 1rem;
        background-color: #48a023;
        margin-bottom: 5rem;
    }


    .mobile-menu {
        display: block;
        position: relative;
        margin-bottom: 2rem;
        /*margin-bottom: -9rem;*/
    }

    .menu-icon {
        width: 2rem;
        position: fixed;
        top: 5%;
        right: 8%;
    }

    .accordion {
        color: #fff;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: all ease-in-out .5s;
        background: linear-gradient(to right, rgb(71, 165, 32), rgb(114, 226, 67));
        border-radius: 0;
    }

    .active, .accordion:hover {
        background-color: #ccc;
    }

    .panel {
        padding: 0 18px;
        background-color: white;
        display: none;
        overflow: hidden;
    }
}

@media (max-width: 766px){

    .menu-icon {
        top: 8.3%;
        right: 8%;
    }

    /*Card Style Begin*/

    .repayment-history-container {
        display: none;
    }

    .loan-card {
        display: block;
        padding: 4rem 0 0;
        background: #ffffff;
        border: 2px solid #eeeeee;
        border-radius: 5px;
        margin: 1rem;
        position: relative;
        box-shadow: 0 18px 40px 0 rgba(215, 215, 215, 0.5);
        height: 25rem;
        z-index: -1;
        padding-left: 10px;
    }

    .loan-card .serialNumber {
        background: #47a620;
        color: #ffffff;
        padding: .5rem;
        width: 54px;
        text-align: center;
        border-radius: 0 0 5px 5px;
        position: absolute;
        top: 0;
        left: 2rem;
    }

    .loan-card h5 {
        font-size: 18px;
    }

    .loan-card p {
        font-size: 16px;
    }


    .loan-card .nameEmail,
    .loan-card .amount,
    .loan-card .status,
    .loan-card .action{
        padding: 1rem 2rem;
        border-bottom: 1.5px solid #eeeeee;
    }

    .loan-card .amount,
    .loan-card .status {
        display: inline-block;
        width: 49%;
    }

    .loan-card .mb-4 {
        margin-bottom: 10px;
    }

    /*Card Style Ends*/

}
















